{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

<!-- Begin page heading -->
<h1 class="page-heading">TIMELINE <small>  친구의 소식을 만나보세요!</small></h1>
<!-- End page heading -->

	<!-- BEGIN EXAMPLE ALERT -->
	<div class="alert alert-success alert-block fade in alert-dismissable">
	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	  <p><strong>안녕하세요 [name]님!</strong></p>
	  <p>
	  This is example alert
	  </p>
	</div>
	<!-- END EXAMPLE ALERT -->

	<div class="the-box" style="height: 200px;">
		<p>Example grid layout</p>
	</div><!-- /.the-box -->

	<div class="row">
		<div class="col-sm-6">
			<div class="the-box" style="height: 200px;">
				<p>Example grid layout</p>
			</div><!-- /.the-box -->
		</div><!-- /.col-sm-6 -->
		<div class="col-sm-6">
			<div class="the-box" style="height: 200px;">
				<p>Example grid layout</p>
			</div><!-- /.the-box -->
		</div><!-- /.col-sm-6 -->
	</div><!-- /.row -->


	<div class="row">
		<div class="col-sm-4">
			<div class="the-box" style="height: 200px;">
				<p>Example grid layout</p>
			</div><!-- /.the-box -->
		</div><!-- /.col-sm-4 -->
		<div class="col-sm-4">
			<div class="the-box" style="height: 200px;">
				<p>Example grid layout</p>
			</div><!-- /.the-box -->
		</div><!-- /.col-sm-4 -->
		<div class="col-sm-4">
			<div class="the-box" style="height: 200px;">
				<p>Example grid layout</p>
			</div><!-- /.the-box -->
		</div><!-- /.col-sm-4 -->
	</div><!-- /.row -->


	<div class="row">
		<div class="col-sm-3">
			<div class="the-box" style="height: 200px;">
				<p>Example grid layout</p>
			</div><!-- /.the-box -->
		</div><!-- /.col-sm-3 -->
		<div class="col-sm-3">
			<div class="the-box" style="height: 200px;">
				<p>Example grid layout</p>
			</div><!-- /.the-box -->
		</div><!-- /.col-sm-3 -->
		<div class="col-sm-3">
			<div class="the-box" style="height: 200px;">
				<p>Example grid layout</p>
			</div><!-- /.the-box -->
		</div><!-- /.col-sm-3 -->
		<div class="col-sm-3">
			<div class="the-box" style="height: 200px;">
				<p>Example grid layout</p>
			</div><!-- /.the-box -->
		</div><!-- /.col-sm-3 -->
	</div><!-- /.row -->

	<div class="row">
		<div class="col-sm-8">
			<div class="the-box" style="height: 200px;">
				<p>Example grid layout</p>
			</div><!-- /.the-box -->
		</div><!-- /.col-sm-8 -->
		<div class="col-sm-4">
			<div class="the-box" style="height: 200px;">
				<p>Example grid layout</p>
			</div><!-- /.the-box -->
		</div><!-- /.col-sm-4 -->
	</div><!-- /.row -->

	<div class="row">
		<div class="col-sm-4">
			<div class="the-box" style="height: 200px;">
				<p>Example grid layout</p>
			</div><!-- /.the-box -->
		</div><!-- /.col-sm-4 -->
		<div class="col-sm-8">
			<div class="the-box" style="height: 200px;">
				<p>Example grid layout</p>
			</div><!-- /.the-box -->
		</div><!-- /.col-sm-8 -->
	</div><!-- /.row -->



</div><!-- /.container-fluid -->

{% endblock %}